<% content_for :head do %>
  <title>Message List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<% end %>
<div class="container">
  <h3>List of Messages</h3>
  <%= render partial: "message", collection: @messages %>
  <%= bootstrap_paginate @messages %>

  <%= form_with model: @message, class: "form", remote: true do |f| %>
    <div class="form-group">
      <label for="messageContentInput">Content</label>
      <%= f.text_area :content, size: "60x6", class: "form-control" %>
      <small id="contentHelp" class="form-text text-muted">Length must be between 2-180</small>
    </div>
    <div class="form-group">
      <label for="messageStatusInput">Status</label>
      <%= f.text_field :status, class: "form-control" %>
      <small id="statusHelp" class="form-text text-muted"><%= allowed_statuses %></small>
    </div>
    </p><%= f.submit "Create", class: "btn btn-primary" %></p>
  <% end %>
</div>